h1{
  color: green;
  font-family: Courier New;
  font-size: 35pt;
  text-align: left;
  margin-left: .4in;
  margin-right: .4in;
}
html, body {
  background-color: #FFDCD8;
  margin: 0;
  padding: 0;
  align-items: center;
  alignment: center;
  align-content: center;
}
canvas {
  display: block;
  margin-left: 350px;
  margin-bottom: 1in;
  border: auto;
  border-color: #7DF0E0;
  border-width: 8px;
  border-style: groove;
}

.pink{
  color:	#331E1C;
  font-family: Courier New;
  font-size: 15pt;
  text-align: left;
  margin-left: .4in;
  margin-right: .4in;
}

.randomizerButton{
  font-family: Courier New;
  font-style: oblique;
  margin-left: 70px;
  padding: 20px;
  background-color:#7DF0E0;
  color: blue;
}
.row {
  display: flex;
}

.column {
  margin:10px;
  flex: 50%;
}
