h1{
  color: green;
  font-family: Geneva;
  font-size: 35pt;
  text-align: left;
  margin-left: .4in;
  margin-right: .4in;
}
html, body {
  background-color: #80B048;
  margin: 0;
  padding: 0;
  align-items: center;
  alignment: center;
  align-content: center;
}
canvas {
  display: block;
  margin-left: 2in;
  margin-bottom: 1in;
  border: 1in;
  border-color: green;
  border-width: medium;
  border-style: groove;
}

.pink{
  color:	#000000;
  font-family: Geneva;
  font-size: 15pt;
  text-align: left;
  margin-left: .4in;
  margin-right: .4in;
}

.randomizerButton{
  align-items: center;
  margin-left: 5in;
  padding: 20px;
  background-color:#7DF0E0;
  color: blue;
}
